@tailwind base;
@tailwind components;
@tailwind utilities;

.my-class:hover {
  background: linear-gradient(to right, #4fd1c5, #1d4ed8);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background 0.5s ease;
}

.slide-button {
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #00c8f5;
  border: none;
  border-radius: 4px;
  overflow: hidden;
  z-index: 1;
}

.slide-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0077b6;
  transform: translateX(-100%);
  z-index: -1;
  transition: transform 0.25s ease-in-out;
}

.slide-button:hover::before {
  transform: translateX(0);
}

body {
  font-family: "Inter", sans-serif;
}

button {
  font-weight: 600;
  transition: all 0.2s;
  border: 2px solid transparent;
}

button:hover {
  transform: translateY(-1px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-color: currentColor;
}

.nav-button {
  font-weight: 600;
  transition: all 0.2s;
  border: none;
}

.nav-button:hover {
  transform: translateY(-1px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
/* .custom-landing-page {
  width: 95%;
  height: 95%;
  margin: auto;
  position: relative;
  border-radius: 15px;
} */

.custom-section {
  margin-left: 2.5%;
  margin-right: 2.5%;
  padding-left: 2.5%;
  padding-right: 2.5%;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #2d3748;
  color: white;
  padding: 2rem;
  border-top: 1px solid white;
}
